/* All Element style start */
* {
  margin: 0px;
  padding: 0px;
}
/* All Element style end */
/* body Element style start */
body {width: 1200px;
     margin: auto;
      font-family: "Work Sans", sans-serif;}

/* body Element style end */

/* header element start  */
header {
  height: 600px;
}

/* nav section all style start  */
  /* comone style  */
  ul,ol{list-style: none;}
  a{text-decoration: none;}
.hidden{display: none;}
  
  /* comone style  */
   
nav{height:15%;
    width: 100%;
    box-shadow:  0 4px 5px 2px rgba(128, 128, 128, 0.463); ;    
    }
nav>ol{display: flex;
    width: 100%;
    height: 100%;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
        list-style: none;}
        
 nav .logtitle{ height: 50px;
    width: 17%;
    display: flex;
    align-items: center;
     justify-content: space-between;
    }
nav .logtitle>img{width:35%;}     
nav .logtitle >h1{font-size: 35px;}
nav .logtitle >h1>span{color:#f948b2;}

/*about us dev and youtube tick style  */
 nav .aboutfollw{
            width:35%;
             display: flex;
             justify-content: space-between;
              gap:3%;}
.aboutdev{
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.aboutdev>li{color: #3C354F;
                 font-weight:600;
                font-size: 15px;} 
.Foyoutubetick{
    width:60%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7E6E9;
    padding: 13px 0px;
    border-radius: 8px;
   }
.fo{font-size:16px;
                       font-weight: 500;}
.Foyoutubetick .youtube{font-size: 36px;}

.Foyoutubetick .tick{font-size:25px;}

/* nav section all style end  */

/* banercontander all style start  */
.bandercontander {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* baner text  */
.bandertextcontaner {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}
.banertext {
  height: fit-content;
  width: fit-content;
}
.banertext > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #0b0223;
}
.banertext > h1 {
  font-size:3.5rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

.banertext b{
  color: #534c64;
  font-weight: 500;
  margin-top: 4px;
  font-size: 0.8rem;
  letter-spacing: .4px; 
  line-height:23px;
  font-weight: 500;
  display:block;
  margin-bottom:10px;
}

.banertext > button {
  padding: 13px 30px;
  border-radius:27px;
  border: none;
  font-weight:500;
  font-size:.8rem;
  margin-right: 15px;
}

.sigbtn{background-color:#FF42A5;
                 color:white;}
.gobtn{background-color:#4EC5F7;
       color: white;
    font-size: .9rem;}
/* baner img  */
.banderimg {
  height: fit-content;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banderimg > img {
height: 100%;
}
/* bandercontander all style end  */

/* header element end  */

/**********Online Game section start*******/
.online_games{width: 100%;
              height: 600px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;}
/*****online_game_Text*******/
.online_game_Text{height: fit-content;
                width: fit-content; 
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 gap:15px;
                 padding: 30px 0px;
                 }
.online_game_Text>h1{font-size:30px;
                      font-weight: 800;
                   }               
.online_game_Text>h1>span{                            
                            background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;}               
.online_game_Text>p{font-size: 12px;}               



   /* games_card_contaner style*/
.games_card_contaner{display: flex;
        width:89%;
        gap: 1%;
      justify-content: center;}
.card{
      width:255px;
     display: flex;
    align-items: center;
    justify-content: center;}
    figure{height: 100%;}   
    figcaption{font-size: 13.5px;
               color: rgb(87, 87, 87);} 
figure>img{width:100%;}
/**********Online Game section end*******/

/******************Play Instanty section start**********************/
.play_instanty{position: relative;
                height:600px;
                width: 100%;
                display: flex;
                justify-content:center;
                align-items: center;
              }
.play_instantcontaner{
                     width: 90%;
                     height: 80%;
                    display: flex;
                    justify-content:center;
                     align-items: center;
                     gap: 10px;}              
.playText{width: 50%;
                height:97%;
                display: flex;
                align-items: center;
                justify-content: center;}
.playTextContaner{
                  height: fit-content;
                 width: fit-content;
                 text-align: end;}
                  
.playTextContaner>h1{font-size:30px;
                    line-height: 40px;}                               
.playTextContaner>h1>span{color: #f948b2;}  
.playTextContaner>.playDesc{color: gray;
                            margin-top:20px;
                            line-height:22px;
                            font-size: 13px;}


                /*****playImgContaner*****/
.PlayImgContaner{ width: 45%;
                 height:100%;
                 }              
.PlayImgContaner>img{height:100%;}      
                 /*MidleImg*/
.MidleImg{position: absolute;
          bottom: 0px;
          left:550px;}                 
.MidleImg>img{
         width: 200px;}                 
/******************Play Instanty section end**********************/


/*******************Game Cata Style start*********************/
.gamescat_Contaner{  height: 300px;
         width: 100%;
        background-color: #fbecf4;
        display: flex;
        align-items: center;
        justify-content: center;}
.gameCat{width:95%;
       height:180px;       
       flex-direction: row;
       flex-wrap: wrap;
       gap:0px 30px;
       display:flex;
         justify-content: center;
         align-items: center;
         }
.cat{background-color: white;
  height: 55px;
  width: fit-content;
  padding: 0px 5px;
  font-size: 13px;
  display: flex;
    align-items: center;
    justify-content:space-between;
    gap:14px;
    border-radius:20px;
    }
.cat>img{height: 100%;}   
.cat:hover{border: red 3px solid;
         color: red;} 
/*******************Game Cata Style End*********************/

/*************All footer section style start*************/
footer{background-color: #0B0223;
       width: 100%;
       height: 440px;
       display:flex;
       justify-content: center;
       align-items: center;}
.footContent{
            height: fit-content;
            width:fit-content;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;} 
.contractoption,
.flogtitle,
.copyright,
.condition,
.socalmedia{width: fit-content;
    display: flex;
       justify-content: center;
      align-items: center;
      gap: 10px;}
.flogtitle>img{width:30%;}
.flogtitle>h1{font-size:30px;}
.flogtitle>h1>span{color: #f948b2;}


.contractoption{
                 gap: 60px;
                 margin-top:20px ;}
       .option>a{color: white;
                font-size: 16px;}          

.socalmedia{gap: 40px; 
            margin-top:20px ;
            margin-bottom:20px ;}
.socalmedia>.media>i{font-size: 27px;}
.condition, .copyright{font-size: 13px;
                      color: gray;
                      gap: 50px;}


/*************All footer section style end*************/





/*******************Media Quary start for Mobile Resposive******************/
@media screen and (min-width:400px) and (max-width:500px) {
  /* .hidden{display:none;} */

 body{width:100%;}
 /*header all media quary start*/
 header{width: 100%;
  height:850px;}
nav{width: 100%;
    height:20%;
   box-shadow:none;}
nav>ol{width: 100%;
       display: flex;
      flex-direction: column;
      justify-content:center;
      gap:8;}    
        
nav .logtitle{ height: fit-content;
  width:27%;}

nav .logtitle>img{width:25%;}     
nav .logtitle >h1{font-size: 25px;}
           

.aboutfollw{display: flex;
               flex-direction: column;
               gap: 30px;
               align-items: center;
               height:fit-content;}
.aboutdev{width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom:10px;}
.Foyoutubetick{ width:150px;
                padding: 3px 10px;} 
.Foyoutubetick .youtube{font-size: 16px;
margin-right: 10px;} 
.tick-uu{font-size:16px;}                  
.fo{font-size:13px;
   margin-right:10px;}    
 /*header all media quary end*/

 /* banercontander all style start  */
 .bandercontander {
  width: 100%;
  height:80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;}
  /*bander img contaner*/
  .banderimg {
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banderimg > img {
  width:100%;
  }
/*baner text contander*/
.bandertextcontaner{width: 100%;}
.banertext > h3 {font-size: 2rem;}
.banertext > h1 { font-size:3rem;}

.banertext > button {
  padding: 7px 20px;
  border-radius:27px;
  border: none;
  font-weight:500;
  font-size:.6rem;
  margin-right: 15px;
}

 /* banercontander all style end*/
/*header End*/

/**********Online Game section start*******/
.online_games{width: 100%;
  height:fit-content;}

/*****online_game_Text*******/
.online_game_Text{ width: 100%;
                 text-align: center;}
.online_game_Text>h1{font-size:22px;}
.online_game_Text>p{font-size: 10px;}
  /* games_card_contaner style*/
.games_card_contaner{ width: 100%;
                     display: flex;
                     flex-direction: column;}
.games_card_contaner{display: flex;
width:100%;
 gap: 20px;}
.card{width: 100%;
     text-align: center;
  }

.card>figure{width:66%;
  border-radius:17px;
  box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.202);}  
.card>figure>figcaption{font-size: 11px;
                     }   
/**********Online Game section end*******/

/******Play Instanty start*******/
.play_instanty{position: relative;}
.play_instantcontaner{display: flex;
                      flex-direction: column;} 
  /* play text contaner */
.playText{ width: 100%;
         }
.playTextContaner{text-align: center;
  margin-bottom: 20px;
  width: 90%;}         
.playTextContaner>h1{font-size:20px;
            line-height: 26px;}    

.playTextContaner>.playDesc{
                            margin-top:10px;
                            line-height:18px;
                            font-size: 10px;}                    
              
                 /*****playImgContaner*****/
.PlayImgContaner{ width:80%;
  height:100%;}                            
  .PlayImgContaner>img{width:100%;}       
  
 /*MidleImg*/
 .MidleImg{position: absolute;
  bottom:20px;
  left:10px;}                 
.MidleImg>img{
 width: 100px;}      


/******Play Instanty end*******/
/************gamescat_Contaner start**************/
.gamescat_Contaner{
  height: 230px;}
.gameCat{ gap:0px 30px;
  height: 140px;
  gap:0px 20px;}
.cat{
  height:30px;
  width: fit-content;
  padding: 0px 2px;
  font-size:9px;
  display: flex;
    align-items: center;
    gap:9px;
    border-radius:20px;}
.cat>img{height:90%;} 
.cat:hover{border: 1px solid red;}

.gameCat>.hidden{display:none;}
/************gamescat_Contaner end**************/

/*Footer style*/
footer{height: 350px;}
.footContent{ gap: 10px;}
.flogtitle>h1{font-size: 20px;
             margin-left: -6px;}  
.flogtitle>img{width:40px;}
.contractoption{ display: grid;
                 grid-template-columns:repeat(3,70px);
                 grid-template-rows: repeat(2,10px);
                  gap: 25px 29px;}
.socalmedia{width:fit-content;
    display: grid;
    grid-template-columns:repeat(3,50px);
    grid-template-rows: repeat(2,10px);
     gap: 20px 10px;}                  
#fa-solid{font-size:17px;}
.contractoption>.option{ text-align: center;}
.option>a{font-size: 9px;}

.condition{height:fit-content;
  display: grid;
  grid-template-columns:repeat(2,auto) ;
  grid-template-rows:repeat(2,10px) ;
  gap:20px 90px;
 }
.condition>.con{ font-size: 10px;}

.copyright >p{font-size:8px;
  color: gray;
  text-align: center;
   line-height:6px;}
 .pp{display: block;} 
/*Footer style*/
}
/********Media Quary Mobile End**********/



























/*********Media quary Tablet Reponsibe start**********/
@media screen and (min-width:500px) and (max-width:768px) {

  .hidden{display:none;}

 body{width:100%;}
 /*header all media quary start*/
 header{width: 100%;
  height:fit-content; }
nav{width: 100%;
    height:40%;
    margin-top: 20px;
   box-shadow:none;}
nav>ol{width: 100%;
       display: flex;
      flex-direction: column;
      justify-content:center;
      gap:30px;
      }    
        
nav .logtitle{ height: fit-content;
  width:20%; }

nav .logtitle>img{width:38%;}     
nav .logtitle >h1{font-size: 25px;}
           

nav .aboutfollw{display: flex;
               gap: 30px;
               justify-content: center;
               align-items: center;
               height:100%;
               width:50%;
              margin-bottom: 20px;}
.aboutdev{width:60%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap:3px;}
          .aboutdev>li:first-child{width: 50%;
                                  font-size: .8rem;}      
          .aboutdev>li:last-child{ width: 50%;
                                  font-size: .8rem;}      
.Foyoutubetick{ width:50%;               
                padding: 5px 10px;}    
.fo{font-size:12px;}    
#yyy{font-size: 21px;}
#ttt{font-size: 19px;}
 /*header all media quary end*/

 /* banercontander all style start  */
 .bandercontander {
  width: 100%;
  height:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;}
  /*bander img contaner*/
  .banderimg {width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banderimg > img {
  width: 100%;
  }
/*baner text contander*/
.bandertextcontaner{width: 100%;
  height:100%;
  padding: 20px 0px;}

/*** **Online Game Seaction start*****/
   /* games_card_contaner style*/
.online_games{width: 100%;
    height: 900px;}


.games_card_contaner{display:grid;
                    grid-template-columns:repeat(2,auto);
                    grid-template-rows:repeat(2,auto);}
/*** **Online Game Seaction end*****/
           

/******************Play Instanty section start*******/
.play_instanty{position: relative;                 
                height:900px;}

 .play_instantcontaner{height: 100%;
                       display: flex;
                       flex-direction: column-reverse;}

 .playText{ width: 100%;}
.playTextContaner{ width: 60%;
                text-align: center;}


  /*****playImgContaner*****/
  .PlayImgContaner{ width:90%;}
  .PlayImgContaner>img{width:100%;}    

  /*MidleImg*/
 .MidleImg{position: absolute;
            bottom:12%;
           left:0px;}                 
.MidleImg>img{ width: 200px;}   

/************gamescat_Contaner start**************/
.gamescat_Contaner{
  height: 230px;}
.gameCat{
  width: 70%;
   gap:0px 30px;
  height: 140px;
  gap:0px 20px;}
.cat{
  height:30px;
  width: fit-content;
  padding: 0px 2px;
  font-size:9px;
  display: flex;
    align-items: center;
    gap:9px;
    border-radius:20px;}
.cat>img{height:90%;} 
.cat:hover{border: 1px solid red;}

.gameCat>.hidden{display:none;}
/************gamescat_Contaner end**************/
/*********footer all style responsive***********/
footer{height: 350px;}
.footContent{width: 50%;
                gap: 0px;}
.flogtitle>h1{font-size: 20px;
             margin-left: -6px;}  
.flogtitle>img{width:40px;}
.contractoption{ width: 100%;
                 display: grid;
                 grid-template-columns:repeat(3,70px);
                 grid-template-rows: repeat(2,10px);
                  gap: 25px 29px;}
.socalmedia{width:fit-content;
  width: 100%;
    display: grid;
    grid-template-columns:repeat(3,50px);
    grid-template-rows: repeat(2,10px);
     gap: 20px 40px;
     justify-content: center;
    align-items: center;}                  
#fa-solid{font-size:17px;}
.contractoption>.option{
       text-align: center;}
.option>a{font-size: 12px;}

.condition{width: 100%;
  height:fit-content;
  display: grid;
  grid-template-columns:repeat(2,auto) ;
  grid-template-rows:repeat(2,10px) ;
  gap:20px 90px;
 }
.condition>.con{ font-size: 10px;}

.copyright >p{font-size:9px;
  color: gray;
  text-align: center;
   line-height:6px;
  margin-top: 20px;}
 .pp{display: block;}

}
/**********Media quary Tablet Reponsibe****************/

